@font-face {
	font-family: parisienne-regular;
	src: url("../fonts/Parisienne-Regular.ttf");
}
@font-face {
	font-family: lato-regular;
	src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
	font-family: lato-italic;
	src: url("../fonts/Lato-LightItalic.ttf");
}
:root {
    /* --blue: #1e90ff; /* color: var(--blue); */
	/*
	rgba(255, 255, 255, 0.6);
	rgba(0, 0, 0, 0.6);
	*/
	--black: #1A1A1A;
	--gray: #E5E5E5;
	--blue: #2196F3;
	--red: #F44336;
	--white: #FFFFFF;
}
* {
	margin: 0px;
	padding: 0px;
}
body {
	line-height: 1.5;
}
#hero-section {
	width: 100%;
	height: 100vh;
	background-image: url("../img/bg-image-01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* background-attachment: fixed; */
}
#overlay {
	width: 100%;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
}
#hero-header {
	width: 100%;
	height: 100px;
	position: fixed;
}
#hero-header-overlay {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo {
	width: 60%;
	padding: 0px 10px;
}
#logo img {
	width: 100px;
}
#hero-nav {
	width: 40%;
}
#hero-nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
#hero-nav ul li {
	width: 100%;
	transition: 0.3s all;
}
#hero-nav ul li a {
	text-decoration: none;
	color: var(--gray);
	font-size: 1.25em;
	font-family: lato-italic;
	transition: 0.3s all;
}
#hero-nav ul li a:hover {
	color: var(--blue);
}
.active-link {
	color: var(--red) !important;
	font-weight: bold;
}
#hero-heading {
	width: 80%;
	margin: 150px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#heading, #text, #link {
	width: 100%;
	margin: 30px;
}
#hero-heading h1 {
	font-size: 6.25em;
	color: var(--gray);
	font-family: lato-italic;
	line-height: 1.2;
}
.color-gray {
	color: var(--blue);
}
#hero-heading p {
	font-size: 2.5em;
	color: var(--gray);
	font-family: parisienne-regular;
}
#hero-heading a {
	text-decoration: none;
	font-size: 1.875em;
	color: var(--gray);
	border: 1px solid var(--red);
	padding: 10px 20px;
	font-family: lato-italic;
	text-transform: uppercase;
	transition: 0.3s all;
}
#hero-heading a:hover {
	background-color: var(--red);
}
#toggle-button {
	width: 35px;
	height: 26px;
	position: absolute;
	top: 35%;
	right: 3%;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
#counter {
	width: 100%;
	display: flex;
}
.counter-block {
	width: 100%;
	text-align: center;
	padding: 30px 20px;
	background-color: var(--white);
	/* outline: 1px solid var(--red); */
	border-right: 1px solid var(--red);
}
.no-border-right {
	border-right: 0px !important;
}
.counter-block h2 {
	padding: 15px 0px;
	font-size: 1.5625em;
	color: var(--blue);
	font-family: lato-italic;
}
.counter-block p, i {
	font-size: 1.125em;
	color: var(--black);
	font-family: lato-regular;
}
.counter-block i {
	padding: 1px;
	background: rgb(244,67,54);
	background-image: linear-gradient(45deg, rgba(244,67,54,1) 0%, rgba(33,150,243,1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#gallery {
	width: 100%;
	display: flex;
	padding: 50px 0px;
	justify-content: space-around;
	background-color: var(--gray);
}
#gallery-text {
	width: 30%;
	text-align: center;
	align-self: center;
}
#gallery-text h2 {
	font-family: parisienne-regular;
	font-size: 2.5em;
	color: var(--red);
	padding-bottom: 50px;
}
#gallery-text p {
	font-size: 1.125em;
	padding-bottom: 30px;
	font-family: lato-regular;
	color: var(--black);
}
.padding-bottom-50 {
	padding-bottom: 50px !important;
}
#gallery-text a {
	text-decoration: none;
	font-size: 1.875em;
	color: var(--black);
	border: 1px solid var(--red);
	padding: 10px 20px;
	font-family: lato-italic;
	text-transform: uppercase;
	transition: 0.3s all;
}
#gallery-text a:hover {
	background-color: var(--red);
	color: var(--gray)
}
#gallery-photos {
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.gallery-photos-holder {
	width: 30%;
}
#gallery-photos img {
	width: 100%;
	margin: 10px 0px;
	box-shadow: rgba(33, 150, 243, 0.5) 0px 8px 24px;
}
#about-contact {
	width: 100%;
	background-image: url("../img/bg-image-02.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#overlay-ac {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
}
.ac-class {
	width: 50%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.ac-class h2 {
	font-family: parisienne-regular;
	font-size: 2.5em;
	color: var(--blue);
	padding-top: 50px;
}
.ac-class p {
	font-size: 1.125em;
	padding: 0px 70px;
	font-family: lato-regular;
	color: var(--gray);
}
.ac-class a {
	text-decoration: none;
	font-size: 1.875em;
	color: var(--gray);
	border: 1px solid var(--red);
	padding: 10px 20px;
	font-family: lato-italic;
	text-transform: uppercase;
	margin-bottom: 20px;
	transition: 0.3s all;
}
.ac-class a:hover {
	background-color: var(--red);
}
.gradient-border {
	width: 1px;
	background: rgb(244,67,54);
	background-image: linear-gradient(45deg, rgba(244,67,54,1) 0%, rgba(33,150,243,1) 100%);
}
footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	
	background-color: var(--white);
	padding-bottom: 10px;
}
.footer-class {
	width: 30%;
	text-align: center;
}
.footer-class h3 {
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: lato-italic;
	padding: 20px 0px;
	color: var(--blue)
}
.footer-class ul {
	list-style-type: none;
}
.footer-class ul li {
	padding-bottom: 15px;
	font-family: lato-regular;
}
.footer-class ul li a {
	text-decoration: none;
	font-size: 1em;
	color: var(--black);
	border-bottom: 1px solid var(--red);
	padding: 3px;
	font-family: lato-regular;
	text-transform: uppercase;
	transition: 0.3s all;
}
.footer-class ul li a:hover {
	border-color: var(--blue);
}
#copyright {
	width: 100%;
	background-color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
}
#copyright p {
	font-size: 1em;
	color: var(--blue);
	font-family: lato-italic;
	text-align: center;
	padding: 20px;
}
#copyright a {
	text-decoration: none;
	color: var(--red);
	transition: 0.3s all;
	font-family: lato-regular;
	border-bottom: 1px solid transparent;
}
#copyright a:hover {
	border-bottom: 1px solid var(--blue);
}
#services {
	width: 80%;
	margin: 0px auto;
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
}
#services ul {
	list-style-type: none;
}
#services ul li {
	font-size: 1.25em;
	padding: 10px;
	font-family: lato-regular;
	color: var(--gray);
}
.service-heading {
	width: 100%;
	margin-top: 100px;
	background: rgb(244,67,54);
	background-image: linear-gradient(45deg, rgba(244,67,54,1) 0%, rgba(33,150,243,1) 100%);
}
.service-heading h2 {
	font-size: 1.875em;
	padding: 15px 0px;
	text-align: center;
	font-family: lato-italic;
	color: var(--black)
}
.service-group ul {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--blue);
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
}
.service-group ul:hover li {
	color: var(--blue) !important;
}
.services-body-class {
	width: 100%;
	background-image: url("../img/bg-image-test1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#gallery-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 120px 0px;
	background-color: var(--gray);
}
#gallery-main-text {
	width: 100%;
	margin: 30px auto;
	text-align: center;
	background-image: url("../img/bg-image-test3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#gallery-main-text-overlay {
	width: inherit;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.9);
	padding: 30px 0px;
}
#gallery-main-text h2 {
	padding: 30px 20px;
	font-size: 1.875em;
	color: var(--red);
	font-family: parisienne-regular;
}
#gallery-main-text-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.gallery-main-text-class {
	width: 35%;
}
#gallery-main-text-group p {
	font-size: 1.25em;
	color: var(--blue);
	font-family: lato-italic;
	padding: 0px 10px;
}
.gallery-main-images {
	width: 100%;
	display: flex;
}
.gallery-main-images-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.margin-top-100 {
	margin-top: 100px;
}
.gallery-image-class {
	width: 80%;
	transition: 0.3s all;
}
.gallery-image-class:hover {
	width: 85%;
}
.gallery-image-class img {
	width: 100%;
	box-shadow: rgba(33, 150, 243, 0.5) 0px 5px 15px;
}
.bg-gray {
	background-color: var(--gray) !important;
}
#about-us-main {
	width: 80%;
	padding-top: 120px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}
#about-us-main h2 {
	font-size: 1.875em;
	color: var(--red);
	font-family: parisienne-regular;
	margin: 20px 0px;
}
#about-us-holder {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#about-us-image {
	width: 50%;
}
#about-us-image img {
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#about-us-text {
	width: 50%;
	padding: 0px 50px;
}
#about-us-text p {
	font-size: 1.25em;
	padding: 20px 0px;
	color: var(--black);
	font-family: lato-regular;
}
.about-h2 {
	font-size: 1.875em;
	color: var(--blue);
	font-family: lato-italic;
	text-align: center;
	margin: 50px 0px;
	padding: 0px 20px;
	text-transform: uppercase;
}
#about-us-workers {
	width: 80%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
}
.person {
	width: 25%;
}
.person h3 {
	font-size: 1.25em;
	font-family: lato-regular;
	color: var(--black)
}
.person img {
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#contact-holder {
	width: 80%;
	margin: 0px auto;
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contact-holder h2 {
	font-size: 1.875em;
	color: var(--red);
	font-family: parisienne-regular;
	padding: 20px 0px;
}
#contact-form {
	width: 80%;
	display: flex;
	flex-direction: column;
}
#contact-form label {
	font-size: 1.25em;
	font-family: lato-regular;
	color: var(--black);
}
#contact-form input {
	height: 30px;
	font-size: 1.25em;
	border: 1px solid var(--black);
}
#contact-form textarea {
	font-size: 1.25em;
	height: 150px;
	resize: none;
	border: 1px solid var(--black);
}
#button {
	width: 50%;
	height: auto !important;
	text-align: center;
	padding: 10px;
	margin: 10px 0px;
	text-transform: uppercase;
	align-self: center;
	cursor: pointer;
	color: var(--black);
	border: 1px solid var(--blue) !important;
	transition: 0.3s all;
}
#button:hover {
	background-color: var(--blue);
}
#contact-map-holder {
	width: 80%;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contact-map-holder h2 {
	padding: 20px 0px;
	text-align: center;
	color: var(--black);
	text-transform: uppercase;
	font-family: lato-regular;
}
#contact-map-holder iframe {
	width: 100%;
}

@media only screen and (max-width: 1024px) {
	#hero-header-overlay {
		flex-direction: column;
		align-items: flex-start;
	}
	#hero-nav {
		display: none;
		width: 100%;
	}
	#hero-nav.active {
		display: block;
	}
	#hero-nav ul {
		flex-direction: column;
		align-items: center;
	}
	#hero-nav ul li {
		padding: 5px 0px;
		text-align: center;
	}
	#hero-nav ul li:hover {
		background-color: var(--black);
	}
	#logo {
		padding: 0px;
	}
	#toggle-button {
		display: flex;
	}
	#about-us-holder {
		flex-direction: column;
	}
	#about-us-image {
		width: 80%;
		margin: 20px 0px;
	}
	#about-us-text {
		width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	#counter {
		flex-direction: column;
	}
	.counter-block {
		padding: 30px 0px;
		border-right: 0px;
		border-bottom: 1px solid var(--red);
	}
	.no-border-bottom {
		border-bottom: 0px !important;
	}
	#gallery {
		flex-direction: column;
	}
	#gallery-text {
		width: 100%;
		margin-bottom: 30px;
	}
	#gallery-text h2 {
		padding-bottom: 30px;
	}
	#gallery-photos {
		width: 100%;
		flex-direction: column;
	}
	.gallery-photos-holder {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.gallery-photos-holder img {
		width: 45% !important;
	}
	.display-none {
		display: none;
	}
	#overlay-ac {
		flex-direction: column;
	}
	.ac-class {
		width: 100%;
	}
	.gradient-border {
		width: 100%;
		height: 1px;
	}
	footer {
		justify-content: space-between;
		flex-direction: column;
	}
	.footer-class {
		width: 100%;
	}
	.footer-class ul {
		display: flex;
		justify-content: space-around;
	}
	#services {
		width: 100%;
	}
	#gallery-main {
		padding-bottom: 20px;
	}
	.gallery-main-text-class {
		width: 45%;
	}
	.gallery-main-images {
		flex-direction: column;
	}
	.gallery-main-images-section {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
	}
	.gallery-image-class {
		width: 45%;
	}
	.gallery-image-class:hover {
		width: 50%;
	}
	.margin-top-100 {
		margin: 0px;
	}
	#about-us-text {
		padding: 0px;
	}
	#about-us-workers {
		flex-direction: column;
	}
	.person {
		width: 70%;
		margin: 20px 0px;
	}
	#button {
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
	
}