@font-face {
	font-family: parisienne-regular;
	src: url("../fonts/Parisienne-Regular.ttf");
}
@font-face {
	font-family: lato-regular;
	src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
	font-family: lato-italic;
	src: url("../fonts/Lato-LightItalic.ttf");
}
:root {
    /* --blue: #1e90ff; /* color: var(--blue); */
	/*
	rgba(255, 255, 255, 0.6);
	rgba(0, 0, 0, 0.6);
	*/
	--black: #1A1A1A;
	--gray: #E5E5E5;
	--blue: #2196F3;
	--red: #F44336;
	--white: #FFFFFF;
}
* {
	margin: 0px;
	padding: 0px;
}
#hero-section {
	width: 100%;
	height: 100vh;
	background-image: url("../img/bg-image-01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* background-attachment: fixed; */
}
#overlay {
	width: 100%;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
}
#hero-header {
	width: 100%;
	height: 100px;
	position: fixed;
}
#hero-header-overlay {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo {
	width: 60%;
	padding: 0px 10px;
}
#logo img {
	width: 100px;
}
#hero-nav {
	width: 40%;
}
#hero-nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
#hero-nav ul li a {
	text-decoration: none;
	color: var(--gray);
	font-size: 20px;
	font-family: lato-italic;
}
#hero-heading {
	width: 80%;
	margin: 150px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#heading, #text, #link {
	width: 100%;
	margin: 30px;
}
#hero-heading h1 {
	font-size: 6.25em;
	color: var(--gray);
	font-family: lato-italic;
}
.color-gray {
	color: var(--blue);
}
#hero-heading p {
	font-size: 2.5em;
	color: var(--gray);
	font-family: parisienne-regular;
}
#hero-heading a {
	text-decoration: none;
	font-size: 1.875em;
	color: var(--gray);
	border: 1px solid var(--red);
	padding: 10px 20px;
	font-family: lato-italic;
	text-transform: uppercase;
}
#toggle-button {
	width: 35px;
	height: 26px;
	position: absolute;
	top: 35%;
	right: 3%;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
#counter {
	width: 100%;
	display: flex;
}
.counter-block {
	width: 100%;
	text-align: center;
	padding: 30px 20px;
	background-color: var(--white);
	/* outline: 1px solid var(--red); */
	border-right: 1px solid var(--red);
}
.no-border-right {
	border-right: 0px;
}
.counter-block h2 {
	padding: 15px 0px;
	font-size: 1.5625em;
	color: var(--blue);
	font-family: lato-italic;
}
.counter-block p, i {
	font-size: 1.125em;
	color: var(--black);
	font-family: lato-regular;
}
.counter-block i {
	padding: 1px;
	background: rgb(244,67,54);
	background-image: linear-gradient(45deg, rgba(244,67,54,1) 0%, rgba(33,150,243,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#gallery {
	width: 100%;
	display: flex;
	padding: 50px 0px;
	justify-content: space-around;
	background-color: var(--gray);
}
#gallery-text {
	width: 30%;
	text-align: center;
	align-self: center;
}
#gallery-text h2 {
	font-family: parisienne-regular;
	font-size: 2.5em;
	color: var(--red);
	padding-bottom: 50px;
}
#gallery-text p {
	font-size: 1.125em;
	padding-bottom: 30px;
	font-family: lato-regular;
}
.padding-bottom-50 {
	padding-bottom: 50px !important;
}
#gallery-photos {
	width: 60%;
	display: flex;
	justify-content: space-evenly;
}
.gallery-photos-holder {
	width: 30%;
	align-self: center;
}
#gallery-photos img {
	width: 100%;
	padding: 10px;
}
#gallery-text a {
	text-decoration: none;
	font-size: 1.875em;
	color: var(--black);
	border: 1px solid var(--red);
	padding: 10px 20px;
	font-family: lato-italic;
	text-transform: uppercase;
}
#about-contact {
	width: 100%;
	height: 500px;
	display: flex;
}
.ac-class {
	width: 50%;
}
#about {
	background-color: var(--blue);
}
#contact {
	background-color: var(--red);
}
#new {
	width: 100%;
	height: 100vh;
}

@media only screen and (max-width: 1024px) {
	#hero-header-overlay {
		flex-direction: column;
		align-items: flex-start;
	}
	#hero-nav {
		display: none;
		width: 100%;
	}
	#hero-nav.active {
		display: block;
	}
	#hero-nav ul {
		flex-direction: column;
		align-items: center;
	}
	#hero-nav ul li {
		padding: 5px 0px;
		text-align: center;
	}
	#logo {
		padding: 0px;
	}
	#toggle-button {
		display: flex;
	}
}
@media only screen and (max-width: 768px) {
	#counter {
		flex-direction: column;
	}
	.counter-block {
		padding: 30px 0px;
	}
	#gallery {
		flex-direction: column;
	}
	#gallery-text {
		width: 100%;
		margin-bottom: 30px;
	}
	#gallery-text h2 {
		padding-bottom: 30px;
	}
	#gallery-photos {
		width: 100%;
		flex-direction: column;
	}
	.gallery-photos-holder {
		width: 45%;
		display: flex;
		align-self: auto;
	}
	.display-none {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	
}